<%= link_to "Add new player", new_player_url %>
<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>

  <% @players.each do |player| %>
    <tr>
      <td><%= player.nickname %></td>
      <td><%= player.rank %></td>
      <td><%= player.charisma %></td>
      <td><%= player.wisdom %></td>
      <td><%= link_to 'Show', player_path(player) %></td>
      <td><%= link_to 'Edit', edit_player_path(player) %></td>
      <td><%= link_to 'Destroy', player_path(player),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
