<%= form_with scope: :player, url: players_path, local: true do |form| %>
  <p>
    <%= form.label :nickname %><br>
    <%= form.text_field :nickname %>
  </p>

  <p>
    <%= form.label :rank %><br>
    <%= form.text_field :rank %>
  </p>

  <p>
    <%= form.label :charisma %><br>
    <%= form.text_field :charisma %>
  </p>

  <p>
    <%= form.label :wisdom %><br>
    <%= form.text_field :wisdom %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to 'Back', players_path %>
