<p>
  <strong>Nickname:</strong>
  <%= @player.nickname %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @player.rank %>
</p>

<p>
  <strong>Charisma:</strong>
  <%= @player.charisma %>
</p>

<p>
  <strong>Wisdom:</strong>
  <%= @player.wisdom %>
</p>
<%= link_to 'Edit', edit_player_path(@player) %>
<%= link_to 'Back', players_path %>
